@import url(~bootstrap);
@font-face {
  font-family: "Fantasy W01 Regular1504285";
  src: url("/Fonts/d59cb9bb-e302-4d03-a28c-f5d7fc170d1d.eot?#iefix");
  src: url("/Fonts/d59cb9bb-e302-4d03-a28c-f5d7fc170d1d.eot?#iefix") format("eot"),
  url("/Fonts/67ba6174-8662-4877-8c71-6938b098652b.woff2") format("woff2"),
  url("/Fonts/66f396d7-a2f5-48ff-b666-529e61be0af8.woff") format("woff"),
  url("/Fonts/452560bc-7196-4154-9b64-b9bb79494473.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

body, html {
  font-family: "Fantasy W01 Regular1504285", fantasy, serif;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-weight: 600;
  background: url("../../public/img/map_word.png") center;
}
body img, html img {
  vertical-align: center !important;
}
body h4, body h5, body h3, body h2, html h4, html h5, html h3, html h2 {
  font-weight: bold;
}
body table th, html table th {
  font-size: 1.5em;
}
body table td, html table td {
  font-size: 1.2em;
}
@media (max-width: 700px) {
  body .responsive-table-line td:before, html .responsive-table-line td:before {
    content: attr(data-title);
  }
  body .responsive-table-line table,
body .responsive-table-line thead,
body .responsive-table-line tbody,
body .responsive-table-line th,
body .responsive-table-line td,
body .responsive-table-line tr, html .responsive-table-line table,
html .responsive-table-line thead,
html .responsive-table-line tbody,
html .responsive-table-line th,
html .responsive-table-line td,
html .responsive-table-line tr {
    display: block;
  }
  body .responsive-table-line thead tr, html .responsive-table-line thead tr {
    display: none;
  }
  body .responsive-table-line td, html .responsive-table-line td {
    position: relative;
    border: 0 solid transparent;
    padding-left: 0 !important;
    white-space: normal;
    text-align: center;
  }
  body .responsive-table-line td:before, html .responsive-table-line td:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    text-align: center;
    background-color: #f8f8f8;
    padding: 2px;
  }
}
body .btn, html .btn {
  height: 47px;
  padding: 4px;
  font-size: 1.1em;
  border-radius: 5px;
  margin: 5px;
  color: #525252;
  font-weight: 700;
  transition: 0.8s;
  border: none;
  vertical-align: center;
}
body .btn.head, html .btn.head {
  height: 30px;
  padding: 4px;
}
body .btn span, html .btn span {
  margin: auto;
  font-weight: bold;
}
body .btn:hover span, html .btn:hover span {
  color: white;
}
body .btn.btn-primary, html .btn.btn-primary {
  border: #5a8c90 1px solid;
  background-color: #89c8e0;
}
body .btn.btn-primary:hover, html .btn.btn-primary:hover {
  box-shadow: #617eb1 5px 0 20px;
  background-color: #5eb5e0;
}
body .btn.btn-danger, html .btn.btn-danger {
  border: #da5751 1px solid;
  background-color: #b97274;
}
body .btn.btn-danger:hover, html .btn.btn-danger:hover {
  box-shadow: #601113 5px 0 20px;
}
body .btn.btn-warning, html .btn.btn-warning {
  border: #cece56 1px solid;
  background-color: #bbbb6a;
}
body .btn.btn-warning:hover, html .btn.btn-warning:hover {
  background-color: #148d16;
  box-shadow: #148d16 5px 0 20px;
}
body .btn.btn-success, html .btn.btn-success {
  border: #23633d 1px solid;
  background-color: #265c25;
}
body .btn.btn-success:hover, html .btn.btn-success:hover {
  background-color: #148d16;
  box-shadow: #148d16 5px 0 20px;
}
body .border, html .border {
  border: #626262 2px solid;
  box-shadow: #6a6a6a 8px 0 20px;
  padding: 20px;
  margin: 20px;
  background-color: rgba(250, 250, 250, 0.7);
}
body .border .h4, html .border .h4 {
  margin-bottom: 10px;
  font-weight: 900;
}
body .border .h4 span, html .border .h4 span {
  font-style: italic;
  font-weight: 500;
}
body .border.admin-city.body, html .border.admin-city.body {
  box-shadow: #676767 8px 0 20px;
}
body .border.admin-city:hover, html .border.admin-city:hover {
  box-shadow: #737373 8px 0 20px;
}

header {
  min-height: 260px;
  background: linear-gradient(to bottom, #6e7d95, #6a788c 20%, rgba(63, 63, 63, 0.15)), center top/cover url("../../public/img/banner.jpg") fixed;
  background-size: 100% 260px;
}
header .navbar {
  display: flex;
}
@media screen and (max-width: 575px) {
  header .navbar {
    z-index: 500;
    position: fixed;
    display: flex;
    justify-content: space-between;
  }
}
header h1 {
  font-size: 5rem;
}
@media screen and (max-width: 760px) {
  header h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 575px) {
  header h1 {
    display: none;
  }
}

@media screen and (max-width: 1341px) {
  .part-left, .part-right {
    display: block;
  }
}
.part-left .menu-france, .part-right .menu-france {
  display: none;
}
.part-left .menu-france .estouest, .part-left .menu-france .menu-est, .part-left .menu-france .menu-ouest, .part-right .menu-france .estouest, .part-right .menu-france .menu-est, .part-right .menu-france .menu-ouest {
  display: none;
}

.part-center {
  padding-bottom: 250px;
}
.part-center .search .form-check-label {
  font-weight: 600;
}
.part-center .bg {
  background-color: rgba(153, 162, 255, 0.3);
}
.part-center h2 {
  font-weight: 900;
  text-align: center;
  margin: 25px;
}
.part-center p {
  color: #062c33;
  filter: none;
  text-align: center;
  font-weight: 600;
  font-size: 1.4em;
}
.part-center .modal .modal-content {
  background-color: rgba(178, 212, 238, 0.9);
}
.part-center .modal .modal-content h2 {
  font-size: 3em;
}
.part-center .modal .modal-content label, .part-center .modal .modal-content button {
  font-size: 1.4em;
}
.part-center .modal .modal-content .container {
  padding: 5px;
}
.part-center .modal .modal-content .container .cross {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 25;
  color: #1b1e21;
  width: 30px;
  height: 30px;
  background: url("../../public/img/svg/crossModal.svg") 100% 100%;
  cursor: pointer;
}
.part-center .modal .modal-content .container .cross:hover {
  opacity: 0.5;
}
.part-center .modal .modal-content .container .row {
  padding: 60px;
}
.part-center .admin-home {
  opacity: 0.7;
}
.part-center .admin-home a {
  color: #1b1e21;
}
.part-center .admin-home .case-country {
  border: 2px transparent solid;
  background-color: rgba(70, 186, 250, 0.5);
}
.part-center .admin-home .case-country:hover {
  box-shadow: rgba(70, 186, 250, 0.5) 5px 0 20px;
}
.part-center .admin-home .case-city {
  border: 2px transparent solid;
  background: rgba(250, 121, 94, 0.5);
}
.part-center .admin-home .case-city:hover {
  box-shadow: rgba(250, 121, 94, 0.5) 5px 0 20px;
}
.part-center .admin-home .case-picture {
  border: 2px transparent solid;
  background: rgba(114, 111, 250, 0.5);
}
.part-center .admin-home .case-picture:hover {
  box-shadow: rgba(114, 111, 250, 0.5) 10px 0 30px;
}
.part-center .admin-home .case-user {
  border: 2px transparent solid;
  background: rgba(109, 250, 129, 0.5);
}
.part-center .admin-home .case-user:hover {
  box-shadow: rgba(109, 250, 129, 0.8) 10px 0 30px;
}
.part-center .admin-home .case-news {
  border: 2px transparent solid;
  background: rgba(250, 244, 159, 0.5);
}
.part-center .admin-home .case-news:hover {
  box-shadow: rgba(249, 250, 82, 0.8) 10px 0 30px;
}
.part-center .admin-home .case-comment {
  border: 2px transparent solid;
  background: rgba(234, 154, 250, 0.5);
}
.part-center .admin-home .case-comment:hover {
  box-shadow: rgba(245, 68, 250, 0.8) 10px 0 30px;
}
.part-center .list_country {
  display: none;
}
@media screen and (max-width: 1341px) {
  .part-center .list_country {
    display: block;
    text-align: center;
  }
}
.part-center .news {
  display: none;
}
@media screen and (max-width: 1341px) {
  .part-center .news {
    display: block;
  }
  .part-center .news img {
    width: 100px;
  }
}
.part-center .signup {
  background: rgba(255, 255, 255, 0.9) url("../../public/img/signup.png") no-repeat center center;
  font-size: 1.5rem;
}
.part-center .signup button {
  font-size: 1.1rem;
}
.part-center .index__country {
  text-align: center;
  position: relative;
}
.part-center .index__country h2 {
  margin-top: 50px;
}
.part-center .index__country .map__country img {
  padding-top: 80px;
  width: 80%;
}
.part-center .index__country .map__country button {
  position: absolute;
  width: 9%;
}
@media screen and (max-width: 2106px) {
  .part-center .index__country .map__country button {
    width: 12%;
  }
}
@media screen and (max-width: 1585px) {
  .part-center .index__country .map__country button {
    width: 18%;
  }
}
.part-center .index__country .map__country button.New {
  top: 45%;
  right: 8%;
}
.part-center .index__country .map__country button.Strasbourg {
  top: 32%;
  right: 5%;
}
.part-center .index__country .map__country button.Marseille {
  top: 88%;
  right: 25%;
}
.part-center .index__country .map__country button.Annecy {
  top: 58%;
  right: 15%;
}
.part-center .index__country .map__country button.Bayonne {
  top: 92%;
  left: 25%;
}
.part-center .index__country .map__country button.Biarritz {
  top: 88%;
  left: 20%;
}
.part-center .index__country .map__country button.Collioure {
  top: 98%;
  right: 30%;
}
.part-center .index__country .map__country button.Dijon {
  top: 52%;
  right: 28%;
}
.part-center .index__country .map__country button.Colmar {
  top: 36%;
  right: 5%;
}
.part-center .index__country .map__country button.Hyeres {
  top: 89%;
  right: 15%;
}
.part-center .index__country .map__country button.Kaysersberg {
  top: 35%;
  right: 14%;
}
.part-center .index__country .map__country button.Riquewihr {
  top: 38.5%;
  right: 14%;
}
.part-center .index__country .map__country button.Paris {
  top: 42%;
  right: 39%;
}
.part-center .index__country .map__country button.Mulhouse {
  top: 52%;
  right: 12%;
}
.part-center .index__country .map__country button.Lyon {
  top: 64%;
  right: 25%;
}
.part-center .index__country .map__country button.Lourde {
  top: 93%;
  left: 38%;
}
.part-center .index__country .map__country button.Lausanne {
  top: 55%;
  right: 14%;
}
.part-center .grid {
  padding: 16px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 16px;
}
.part-center .grid a {
  position: relative;
}
.part-center .grid a img, .part-center .grid a a {
  display: block;
  width: 100%;
  height: 48vh;
}
.part-center .grid a .bubble-text {
  font-family: "Goudy Old Style", serif;
  color: #1b1e21;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  padding: 7px 15px;
  border-radius: 3px;
  box-shadow: #2b3664 5px 0 20px;
  width: 350px;
  z-index: 25;
  opacity: 0;
  transition-property: opacity;
  /* Active la transition sur background-color */
  transition-duration: 0.3s;
  /* La transition dure 1s */
  top: 50%;
  right: -40%;
}
.part-center .grid a .bubble-text h3 {
  text-align: center;
  font-weight: 900;
  border-bottom: solid 1px black;
}
.part-center .grid a .bubble-text::after {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 10%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgba(255, 255, 255, 0.8);
}
.part-center .grid a:hover .bubble-text {
  opacity: 1;
}
.part-center .gridhome {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}
.part-center .gridhome img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1342px) {
  .col-md-2 {
    display: none;
  }
}
.col-md-2 .news_right {
  font-size: 1.3em;
  text-align: center;
}
.col-md-2 .news_right h3 {
  margin-bottom: 20px;
  font-weight: 900;
  font-style: oblique;
}

footer {
  text-shadow: #2b3664 5px 0 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

/*# sourceMappingURL=app.css.map */
